<?xml version="1.0"?>
<launch>

  <arg name="fire_room" default="room2" />
  
  <param name="human_loc" value="room6"/>
  <param name="fire_loc" value="$(arg fire_room)"/>
  <param name="team_config_file" value="$(find pomdp_hrs_planner)/config/team_abilities_2.yaml"/>
  <param name="obs_config_file" value="$(find pomdp_hrs_planner)/config/obs_config.yaml"/>

  <group ns="UAV1">
    <node name="building_tour1" pkg="pomdp_hrs_planner" type="waypoints.py" output="screen">
      <param name="room_coordinates_file" value="$(find pomdp_hrs_planner)/config/room_coordinates.yaml"/>
    </node>
    <node name="toppra_trajectory_generator" pkg="topp_ros" type="generate_toppra_trajectory.py"/>
    <include file="$(find pomdp_hrs_planner)/launch/single_pomdp.launch">
      <arg name="pomdp_model" value="$(find pomdp_hrs_planner)/config/agent1_10r.pomdpx" />
     	<arg name="pomdp_policy" value="$(find pomdp_hrs_planner)/config/agent1_10r.policyx" />
     	<arg name="consensus" value="1" />
    </include>
	</group>

  <group ns="UAV2">
    <node name="building_tour2" pkg="pomdp_hrs_planner" type="waypoints.py" output="screen">
      <param name="room_coordinates_file" value="$(find pomdp_hrs_planner)/config/room_coordinates_2.yaml"/>
    </node>
    <node name="toppra_trajectory_generator" pkg="topp_ros" type="generate_toppra_trajectory.py"/>
    <include file="$(find pomdp_hrs_planner)/launch/single_pomdp.launch">
      <arg name="pomdp_model" value="$(find pomdp_hrs_planner)/config/agent3_10r.pomdpx" />
     	<arg name="pomdp_policy" value="$(find pomdp_hrs_planner)/config/agent3_10r.policyx" />
     	<arg name="consensus" value="1" />
	  </include>
	</group>

  <group ns="UAV3">
    <node name="building_tour3" pkg="pomdp_hrs_planner" type="waypoints.py" output="screen">
      <param name="room_coordinates_file" value="$(find pomdp_hrs_planner)/config/room_coordinates_3.yaml"/>
    </node>
    <node name="toppra_trajectory_generator" pkg="topp_ros" type="generate_toppra_trajectory.py"/>
    <include file="$(find pomdp_hrs_planner)/launch/single_pomdp.launch">
      <arg name="pomdp_model" value="$(find pomdp_hrs_planner)/config/agent4_10r.pomdpx" />
      <arg name="pomdp_policy" value="$(find pomdp_hrs_planner)/config/agent4_10r.policyx" />
      <arg name="consensus" value="1" />
    </include>
  </group>

	<node name="observer" pkg="pomdp_hrs_planner" type="fire_observation_generator.py" output="screen">
        <param name="room" value="fire"/>
  </node>
  
  <include file="$(find consensus_ros)/launch/multiple_robots.launch"/>
	<!-- <include file="$(find larics_gazebo_worlds)/launch/floor_plan_simple.launch">
		<arg name="args" value=""/>
	</include>

	 <include file="$(find mmuav_description)/launch/spawn_uav.launch">
    <arg name="model_type" value="uav" />
    <arg name="name" value="UAV1" />
    <arg name="x" value="5" />
    <arg name="y" value="-12" />
  </include>

  <include file="$(find mmuav_control)/launch/rotors_variation_attitude_position_control.launch">
    <arg name="namespace" value="UAV1" />
    <arg name="x" value="5" />
    <arg name="y" value="-12" />
  </include> -->

  <!--<include file="$(find mmuav_description)/launch/spawn_uav.launch">
    <arg name="model_type" value="uav" />
    <arg name="name" value="UAV2" />
    <arg name="x" value="5" />
    <arg name="y" value="-13" />
  </include>

  <include file="$(find mmuav_control)/launch/rotors_variation_attitude_position_control.launch">
    <arg name="namespace" value="UAV2" />
    <arg name="x" value="5" />
    <arg name="y" value="-13" />
  </include>-->
	
</launch>
