<launch>
	 <arg name="name" default="POMDP1"/>
     <arg name="pomdp_model" default="$(find pomdp_hrs_planner)/config/HRS-planner-4obs.pomdpx" />
     <arg name="pomdp_policy" default="$(find pomdp_hrs_planner)/config/HRS-planner-4obs.policyx" />

     <group ns="$(arg name)">
     	<node name="planner" pkg="pomdp_hrs_planner" type="get_next_action.py" output="screen">
     		<param name="model" value="$(arg pomdp_model)"/>
     		<param name="policy" value="$(arg pomdp_policy)"/>
     	</node>
     </group>
 </launch>
