<?xml version="1.0"?>
<launch>
  <!--<include file="$(find pomdp_hrs_planner)/launch/multiple_pomdps.launch">
</include>
<include file="$(find pomdp_hrs_planner)/launch/multiple_obs_generators.launch">
</include>
<include file="$(find larics_gazebo_worlds)/launch/floor_plan_simple.launch">
<arg name="args" value=""/>
</include>-->

<include file="$(find mmuav_description)/launch/spawn_uav.launch">
    <arg name="model_type" value="uav" />
    <arg name="name" value="UAV1" />
    <arg name="x" value="5" />
    <arg name="y" value="-12" />
    <arg name="z" value="1" />
  </include>

<!--  <include file="$(find mmuav_control)/launch/rotors_variation_attitude_position_control.launch">
    <arg name="namespace" value="UAV1" />
    <arg name="x" value="5" />
    <arg name="y" value="-12" />
  </include>-->

  <!--include file="$(find mmuav_description)/launch/spawn_uav.launch">
    <arg name="model_type" value="uav" />
    <arg name="name" value="UAV2" />
    <arg name="x" value="5" />
    <arg name="y" value="-13" />
  </include>

  <include file="$(find mmuav_control)/launch/rotors_variation_attitude_position_control.launch">
    <arg name="namespace" value="UAV2" />
    <arg name="x" value="5" />
    <arg name="y" value="-13" />
  </include-->

</launch>
